aiodns==2.0.0
aiohttp==3.7.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
bidict==0.21.2
brotlipy==0.7.0
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
Cython==0.29.21
dnspython==1.16.0
eventlet==0.30.0
greenlet==0.4.17
idna==2.10
idna-ssl==1.1.0
multidict==5.1.0
PyAudio==0.2.11
pycares==3.1.1
pycparser==2.20
pynput==1.7.1
python-engineio==4.0.0
python-socketio==5.0.2
readchar==2.0.1
requests==2.25.0
six==1.15.0
tqdm==4.54.1
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.2
websocket-client==0.57.0
websockets==8.1
yarl==1.6.3
