body {
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #f9fafc;
   /* background-color: #c6d5f1; */
   color: #1f1c1d;


   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.ppt {
   padding: 32px 32px;
}

.header {
   background-color: #ffffff;
   padding: 10px 40px;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.logo-container {
   display: flex;
   align-items: center;
}

.header>.logo-container>.logo-img {
   width: 60px;
   height: 60px;
   margin-right: 15px;
}

.logo-text {
   text-align: center;
   font-size: 26px;
   font-weight: 700;
}

.header>.logo-container>.logo-text>.logo-highlight {
   color: #65a9e5;
}

.content-container {
   width: 100%;
   height: calc(100vh - 89px);
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}


.panel {
   width: 300px;
   border-right: 1px solid #cddfe7;
   /* height: calc(100vh - 89px); */
   /* display: flex; */
   /* justify-content: space-between; */
   /* overflow: hidden; */
}

.panel-title {
   height: 30px;
   margin: 10px 0 0 0;
   padding-left: 30px;
   padding-right: 10px;
   padding-bottom: 10px;
   font-weight: 500;
   font-size: 18px;
   border-bottom: 1px solid #cddfe7;
}

.active-users-panel {
   /* width: 100%;
   height: 100%; */
}

.my-id {
   margin: 10px 0 0 0;
   padding-left: 30px;
   font-weight: 500;
   font-size: 18px;
   border-bottom: 1px solid #cddfe7;
   padding-bottom: 10px;
}

.active-user {
   padding: 10px 30px;
   border-bottom: 1px solid #cddfe7;
   cursor: pointer;
   user-select: none;
}

.active-user:hover {
   background-color: #e8e9eb;
   transition: background-color 0.5s ease;
}

.active-user--selected {
   background-color: #fff;
   border-right: 5px solid #65a9e5;
   font-weight: 500;
   transition: all 0.5s ease;
}

.audio-chat-container {
   padding: 0 20px;
   flex: 1;
   position: relative;
}

.talk-info {
   font-weight: 500;
   font-size: 21px;
}

.remote-audio {
   position: absolute;
   border: 1px solid #cddfe7;
   top: 60px;
   left: 40px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   width: 300px;
}

.my-audio {
   filter:
      /* sepia(20%) */
      /* grayscale(1) */
      /* saturate(70%) */
      brightness(70%)
      /* contrast(100%) */
      /* invert(12%); */
}

.program {
   margin: 0px;
   font-size: 200px;
}

.select-camera {
   text-align: center;
   margin-top: 5px;
   margin-bottom: 0px;
   font-size: 50px;
}

.center {
   margin: auto;
   margin-top: 15px;
   width: 80%;
   border: 3px solid #828496;
   padding: 10px;
}

.settings-container {
   padding: 20px;
   flex: 1;
   position: relative;
}

#atem-switcher-state {
   margin-top: 10px;
   margin-bottom: 0px;
}

.tally-for {
   display: inline-block;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 20px;
   width:fit-content;
}
